:root {
  --bg: #2f241f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tidak perlu mengatur dimensi elemen saat memberi padding atau border  */
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%; /* rem satuan 16px jadi dikali 1.4, persen untuk menyesuaikan display ke layar */
  border-bottom: 1px solid black;
  position: fixed;
  top: 0; /*agar mentok ke atas */
  left: 0; /*agar ukuran penuh 1 layar tarik kek kiri */
  right: 0; /*agar ukuran penuh 1 layar tarik kek kiri*/
  z-index: 9999; /*untuk tumpukan */
}

.navbar .navbar-logo {
  transition-duration: 4s;
  transition-delay: 2s;
}

.navbar .navbar-logo img {
  width: 125px;
}

.navbar .navbar-nav a {
  color: #000000;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #e5f0b6;
  background-color: #2f241f;
  border-radius: 10px;
  padding: 8px 14px;
  transition: 0.3s linear;
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #553b33;
}

#hamburger-menu {
  display: none;
}
/* Navbar End */

/* Home Start */

.home {
  margin-top: 6rem;
  margin-bottom: 0;
  padding: 1.4rem 7% 0;
  background: url(../assets/img/home/home.png) no-repeat right center;
}

.parent-home {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title h1 {
  font-size: 5.2rem;
  font-weight: 800;
  color: #2f241f;
  line-height: normal;
}

.home-furniture {
  color: #817253;
  font-weight: 800;
}

.home-title-button {
  display: flex;
  margin-top: 3rem;
}

.home-title-search {
  color: #553b33;
  background-color: #e5f0b6;
  padding: 22px 36px;
  border-radius: 12px;
  margin-right: 1.5rem;
}

.home-title-watch {
  color: #553b33;
  border-color: #553b33;
  padding: 22px 36px;
  border-radius: 12px;
  border: 1px solid;
}

/* .home-price {
  background-image: url(../assets/img/home/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.home-price-details {
  margin-top: 350px;
  margin-bottom: 100px;
  padding: 1rem 5%;
}

.home-price-paragraf {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 1rem 5%;
}

.home-price-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}

.home-price-view {
  color: #ffffff;
  padding: 22px 36px;
  background-color: #2f241f;
  border-radius: 12px;
}

/* Home End */

/* Choose Start */
.choose {
  background-color: #2f241f;
}
.choose-section {
  padding: 1.4rem 7%;
}

.parent-choose {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 3rem;
}

.choose-paragraf p {
  color: #e5f0b6;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

.choose-title h2 {
  color: #e5f0b6;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.choose-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.choose-menu-furniture {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.choose-menu-furniture img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.choose-menu-furniture p {
  color: #e5f0b6;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
}

/* Choose End */

/* Partner Start */

.partner {
  margin-top: 4rem;
  padding: 1.4rem 7%;
}

.parent-partner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.partner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner-title h2 {
  color: #2f241f;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.partner-title p {
  color: #2f241f;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Partner End */

/* Categories Start */

.categories {
  margin-top: 2rem;
  padding: 1.4rem 7% 1.4rem 0;
}

.parent-categories {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.categories-image-content img {
  max-width: 100%;
  height: auto;
  margin-right: 0.5rem;
}

.categories-content {
  padding: 0 0 0 1rem;
}

.categories-paragraf {
  color: #2f241f;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.categories-title {
  color: #2f241f;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.5rem;
}

.categories-bedroom {
  color: #000;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5rem;
  padding: 1rem 1.2rem;
}

.categories-livingroom {
  margin-bottom: 2rem;
  background-color: #e5f0b6;
  padding: 1.8rem 1.2rem;
}

.categories-livingroom-title {
  color: #000;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.categories-livingroom-paragraf {
  margin-top: 1.5rem;
}

.categories-home {
  color: #000;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5rem;
  padding: 1rem 1.2rem;
}

.categories-gaming {
  color: #000;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem 1.2rem;
}

/* Categories End */

/* Our Product Start */

.product {
  background-color: #2f241f;
}

.parent-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 3rem 7%;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-content-title {
  color: #e5f0b6;
}

.product-paragraf {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.product-title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-see a {
  background-color: #e5f0b6;
  color: #2f241f;
  border-radius: 12px;
  padding: 14px 36px;
}

.parent-product-caraousel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 3rem 7%;
}

/* Our Product End */

/* Deals Starts */

.deals {
  padding: 3.2rem 7%;
}

.parent-deals {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.deals-title {
  font-size: 4.3rem;
  margin-top: 3rem;
}

.deals-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 5px 0;
  margin-top: 3rem;
}

input {
  border: none;
}

.mail {
  background-color: #e5f0b6;
  border-radius: 0 5px 5px 0;
  padding: 2px 4px;
  font-size: 4rem;
}
/* Deals End */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* Tablet  */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block; /*memunculkan hamburger */
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%; /*supaya nempel ke atas */
    right: -100%; /*supaya keluar dari layar */
    background-color: #000000;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #ffffff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.8rem;
  }

  .navbar .navbar-nav a:hover {
    color: #e5f0b6;
  }

  /* Home Section */
  .parent-home {
    grid-template-columns: repeat(1, 1fr);
  }

  .home {
    margin-top: 6rem;
    background-image: none;
  }

  .home-title {
    margin-bottom: 3rem;
    text-align: center;
  }

  .home-title-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .home-title-search {
    padding: 16px 10%;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .home-title-watch {
    padding: 16px 11%;
  }

  .home-price {
    background-image: url(../assets/img/home/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-price-details {
    margin-top: 10rem;
    margin-bottom: 4rem;
  }

  .home-price-paragraf {
    border: none;
    border-radius: 12px;
    color: #2f241f;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .home-price-title {
    margin-bottom: 3rem;
  }

  .home-price-view {
    padding: 16px 10%;
  }
  /* Home Section End */

  /* Choose Us Start */

  .parent-choose {
    text-align: center;
  }

  .choose-paragraf p {
    font-size: 2rem;
  }

  .choose-title h2 {
    font-size: 3rem;
    margin-top: -6rem;
  }

  .choose-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin-top: -9rem;
  }

  .choose-menu-furniture img {
    margin-right: 2rem;
    width: 50px;
    height: 50px;
  }

  .choose-menu-furniture p {
    color: #e5f0b6;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 160% */
  }
  .choose-menu-furniture br {
    display: none;
  }
  /* Choose us End */

  /* Partner Start */
  .partner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partner-title {
    text-align: center;
    margin-bottom: 3rem;
  }

  .partner-brands img {
    width: 100%;
  }
  /* Partner End */

  /* Categories Start */

  .categories {
    margin-top: 3rem;
    padding: 1rem 7%;
  }

  .parent-categories {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }

  .categories-image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .categories-image-content img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
  }

  .categories-paragraf {
    text-align: center;
    font-size: 1.9rem;
  }

  .categories-title {
    text-align: center;
    font-size: 3rem;
  }

  .categories-bedroom {
    font-size: 1.7rem;
  }

  .categories-livingroom-title {
    font-size: 1.7rem;
  }

  .categories-livingroom-paragraf {
    font-size: 1.5rem;
  }

  .categories-home {
    font-size: 1.7rem;
  }

  .categories-gaming {
    font-size: 1.7rem;
  }

  /* Categories End */

  /* Product Start */

  /* Product End */

  /* Deals Start */
  .parents-deals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .deals-paragraf {
    text-align: center;
  }

  .deals-title {
    text-align: center;
  }

  .deals-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
  }

  input {
    border: none;
  }

  .mail {
    background-color: #e5f0b6;
    border-radius: 0 10px 10px 0;
    padding: 2px 5px;
  }
  /* Deals End */
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
